.footer {
    background-color: #333; /* Cambia esto según tu esquema de colores */
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    text-align: center;
  }
  