.navbar {
    background-color: #B3E5E5; /* Cambia esto según tu esquema de colores */
    color: #575252;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #575252;
    margin: 0 15px;
  }
  
  .user-actions a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
  }
  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  