<nav class="navbar">
    <div class="logo">
      <!-- Coloca aquí tu logotipo o nombre de la aplicación -->
      <a routerLink="/">ShopysFront</a>
    </div>
    <div class="nav-links">
      <a routerLink="/productos" (click)="navegarAProductos()">Consulta de Productos</a>
<a routerLink="/ventas" (click)="navegarAVentas()">Ventas</a>
<a routerLink="/facturacion" (click)="navegarAFacturacion()">Facturación</a>

      <!-- Puedes agregar más enlaces según tus necesidades -->
    </div>
    <div class="user-actions">
    
        <nav class="navbar">
            <div class="nav-links">
              <a routerLink="/login" (click)="navegarALogin()">Iniciar sesión</a>
              <!-- Puedes agregar más enlaces según tus necesidades -->
            </div>
            <div class="user-actions">
              <span>
                <i class="fas fa-shopping-cart"></i>
                {{ cantidadEnCarrito }}
              </span>
              <!-- Puedes agregar más acciones para el usuario, como cerrar sesión, etc. -->
            </div>
          </nav>
  