<nav class="navbar">
    <div class="logo">
      <!-- Coloca aquí tu logotipo o nombre de la aplicación -->
      <a routerLink="/">ShopysFront</a>
    </div>
    <div class="nav-links">
      <a routerLink="/productos">Consulta de Productos</a>
      <a routerLink="/ventas">Ventas</a>
      <a routerLink="/facturacion">Facturación</a>
      <!-- Puedes agregar más enlaces según tus necesidades -->
    </div>
    <div class="user-actions">
        <a routerLink="/login">Iniciar sesión</a>
        <span>
          <i class="fas fa-shopping-cart"></i>
          {{ cantidadEnCarrito }}
        </span>
        <!-- Puedes agregar más acciones para el usuario, como cerrar sesión, etc. -->
      </div>
  </nav>
  