<!-- Navbar -->
<nav class="navbar">
  <div class="logo">
    <a routerLink="/">ShopysFront</a>
  </div>
  <div class="nav-links">
    <div *ngIf="authService.isLoggedIn">
      <button (click)="realizarAccion()">Factura</button>
    </div>
  </div>
  <div class="user-actions">
    <span (click)="openCarritoModal()">
      <i class="fas fa-shopping-cart"></i>
      {{ cantidadEnCarrito }}
    </span>
  </div>
  <div class="user-actions">
    <div class="nav-links">
      <a *ngIf="!authService.isLoggedIn" (click)="openLoginModal()">Iniciar sesión</a>
      <a *ngIf="authService.isLoggedIn" (click)="cerrarSesion()">Cerrar sesión</a>
    </div>
   
  </div>
</nav>
