<div class="carrito-modal">
  <h2>Resumen de la Compra</h2>
  <div class="table-container">
    <button mat-button (click)="closeDialog()">Cerrar</button>
    <table *ngIf="productosCarrito.length > 0; else noProductos">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Acciones</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productosCarrito">
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio | currency }}</td>
          <td>{{ producto.cantidadInventario }}</td>
          <td>
            <input type="number" [(ngModel)]="producto.cantidadInventario" />
            <button mat-icon-button color="primary" (click)="confirmarEdicion(producto)">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="quitarProducto(producto)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="errorMensaje" class="error-message">
      {{ errorMensaje }}
    </div>
    <ng-template #noProductos>
      <p>No hay productos en el carrito.</p>
    </ng-template>
  </div>
  
  <div class="buttons-container">
    <div class="totals">
      <p>Total: {{ getTotal() | currency }} incluye el IVA !!</p>
    </div>
  
    <div class="payment-options">
      <div class="form-group">
        <label for="formaPago">Forma de Pago:</label>
        <select id="formaPago" [(ngModel)]="formaPagoSeleccionada" (change)="seleccionarFormaPago()"required>
          <option *ngFor="let formaPago of formasDePago" [value]="formaPago">{{ formaPago.nombre }}</option>
        </select>
        <button mat-button (click)="pagar()">Pagar</button>
        <div *ngIf="errorMensaje" class="error-message">{{ errorMensaje }}</div>
      </div>
    </div>
  </div>
  
</div>