<!-- Navbar -->
<app-navbar></app-navbar>

<!-- ventas.component.html -->
<div>
  <h2>Lista de Productos</h2>
  <div class="search-container">
    <mat-form-field class="search-input">
      <input matInput (input)="aplicarFiltro($event)" placeholder="Filtrar">
    </mat-form-field>
  </div>
    <mat-table [dataSource]="dataSource">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let producto">{{ producto.id }}</mat-cell>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let producto">{{ producto.nombre }}</mat-cell>
    </ng-container>

    <!-- Precio Column -->
    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
      <mat-cell *matCellDef="let producto">{{ producto.precio }}</mat-cell>
    </ng-container>

    <!-- Descripción Column -->
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
      <mat-cell *matCellDef="let producto">{{ producto.descripcion }}</mat-cell>
    </ng-container>

    <!-- Agregar al Carrito Column -->
    <ng-container matColumnDef="agregarAlCarrito">
      <mat-header-cell *matHeaderCellDef>Agregar al carrito</mat-header-cell>
      <mat-cell *matCellDef="let producto">
        <button mat-button (click)="agregarAlCarrito(producto)">Agregar al carrito</button>
      </mat-cell>
    </ng-container>

    <!-- Cantidad Column -->
    <ng-container matColumnDef="cantidad">
      <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
      <mat-cell *matCellDef="let producto">
        <input matInput type="number" min="1" max="10" value="1">
      </mat-cell>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
      <mat-cell *matCellDef="let producto">{{ producto.precio * producto.cantidad }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
</div>

<!-- Footer -->
<app-footer></app-footer>
