/**
 * Estilos para el componente de ventas.
 * 
 * Archivo: /Users/steven/Downloads/ShopysFront/src/app/ventas/ventas.component.css
 * 
 * Importa el tema predefinido de Angular Material en indigo-pink.css.
 * Define estilos para el Navbar, la Barra de búsqueda, la Tabla de productos,
 * el Paginador y el Footer.
 * 
 * @import '@angular/material/prebuilt-themes/indigo-pink.css';
 * 
 * @class ventas-component-css
 */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* sales.component.css */

/* Estilos para el Navbar */
.navbar {
  background-color: #4e92d6;
  /* Cambia el color de fondo según tus preferencias */
}

.navbar-brand {
  font-weight: bold;
}

/* Estilos para la Barra de búsqueda */
.input-group {
  margin-bottom: 20px;
}

/* Estilos para la Tabla de productos */
.table {
  width: 100%;
}

/* Estilos para el Paginador */
.pagination {
  justify-content: center;
  margin-top: 20px;
}

/* Estilos para el Footer */
footer {
  background-color: #f8f9fa;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  /* Ajusta el margen según sea necesario */
}

/* Estilo para el cuadro de búsqueda */
.search-input {
  flex: 1;
  /* Toma todo el espacio disponible en el contenedor */
  margin-left: 16px;
  /* Ajusta el margen según sea necesario */
  color: aqua;
}